
.mystyle{
    background-color:red;
}
#myDiv{
   color:blue;
}
.items:hover{
    transform:scale(1.02);
    z-index: 10;
    border-radius:25px;
}

body{
    height: 100%;
}
#form{
    width: 100%;
    padding-top: 10px;
    border-radius: 10px;
    /*  margin-left: 5%; */
    background-image: linear-gradient(rgb(235, 235, 189), white);
}
#showBox{
    margin-top: 10px;
    width: 100%;
    height: 700px;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(#f9d9f4, #fdf9fa);
}
.product{
    position: relative;
    width: 11%;
    height: 45%;
    float:left;
    margin-top: 0.3%;
    text-align: center;
    padding-top: 2px;
    border-radius: 25px;
    z-index: 1;
    background-color:  white;
}
.LargeCat,.ChildCat{
    text-align: left;
    width: 45%;
}
.ChildCat{
    float:right;
    margin-right: 5%;
}
.LargeCat{
    margin-left: 5%;
}
#ChildComent{
    color: rgb(7, 7, 7);
    font-size: 1.5rem;
    margin: 0% 0% 0% 0%;
}
#fontSize{
    font-size: 1.2rem;
}
#ChildCategory,#LargeCategory,#price{
    font-size: 1.2rem;
    width: 95%;
}
#keyword{
    font-size: 1.2rem;
}
.onsubmit{
    text-align: center;
}
.PriceFrom{
    width:45%;
    margin-left:5.2%;
    
}
.PriceTo{
    float:right;
    width: 45%;
    margin-right:2.3%;
}
.price{
    width: 95%;
}
#MinPrice,#MaxPrice{
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
}
.checkbox{
    margin-top: 1%;
    text-align: center;
    padding-bottom: 10px;
    
}
#NumOfPro,#SortBy{
    border-radius: 4px;
    font-size: 1.5rem;
    margin-bottom: 5px;
    
}
#IsPublic,#IsEmpty{
    font-size: 1.2rem;
    height: 30px;
    width: 30px;
}
#NumOfPro,#SortBy{
    margin-left: 2%;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    height: 30px;
}
.radioButton,#SortBy{
    margin-top: 10px;
    float: right;
}
#sort{
    width: 10%;
    height: 15px;
}
#sortBar{
    background-image: linear-gradient(rgb(247, 215, 215), rgb(251, 237, 237),rgb(247, 215, 215));
    height: 50px;
    width: 100%;
    position: relative;
}
#NoPro{
    margin-top: 50px;
    font-size: 3rem;
}
.container{
    height: 300px;
}

.totalform{
    height:100%;
    background-color: white;
}
.view,#CartSubmit{
    border-radius: 3px;
    background-color: white;
    color: rgb(17, 131, 172);
    font-style: inherit;
    border: 1px solid rgb(161, 151, 151);
    font-size: 80%;
}
.view:hover,#CartSubmit:hover{
    background-color: #cde6ef;
    transform:scale(1.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.SoldOut{
    position: absolute;
    font-size: 200%;
    color: red;
    width:100%;
    height: 50%;
    top:5%;
    left:30%;
    font-weight: bold;
    z-index: 10;
    transform: rotate(-60deg);
}